<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bocami.Practices.Decorator" version="1.0.0" targetFramework="net451" />
  <package id="Bocami.Practices.Query" version="1.0.0" targetFramework="net451" />
  <package id="Bocami.Practices.Query.Validation" version="1.0.0" targetFramework="net451" />
  <package id="Bocami.Practices.Validation" version="1.0.0" targetFramework="net451" />
  <package id="SimpleInjector" version="2.5.2" targetFramework="net451" />
</packages>